@model IEnumerable<GOT.Models.Path>
@using GOT.Controllers

@{
    ViewData["Title"] = "Trasy";
}

@if (TempData["Message"] != null) {
    string typeClass = "";
    switch ((MessageType)TempData["MessageType"]) {
        case MessageType.SUCCESS:
            typeClass = "alert-success";
            break;
        case MessageType.DANGER:
            typeClass = "alert-danger";
            break;
        case MessageType.INFO:
            typeClass = "alert-info";
            break;
        case MessageType.WARNING:
            typeClass = "alert-warning";
            break;
    }

    <div class="alert @typeClass alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="d-flex align-items-center justify-content-between">
    <h1>Lista tras punktowanych</h1>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Path")'"><i class="bi-plus"></i>Dodaj trasę</button>
</div>
<hr />
@if (Model.Count() == 0) {
    <p class="mb-5 text-center" style="font-size: 100px"><i class="bi-map"></i></p>
    <p class="text-center mb-3">Obecnie nie ma żadnej trasy do wyświetlenia.</p>
    <p class="text-center">Stwórz trasę korzystając z przycisku "Dodaj trasę"</p>
} else {
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PathName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckpointA)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckpointB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreationDate)
                </th>
                <th>
                    Opcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
            <tr style="cursor: pointer">
                <td>
                    @Html.DisplayFor(modelItem => item.PathName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckpointA.CheckpointName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckpointB.CheckpointName)
                </td>
                <td>
                    @item.CreationDate.ToShortDateString()
                </td>
                <td>
                    <button class="btn btn-light" onclick="location.href='@Url.Action("Delete", "Path", new { id = item.PathId })'"><i class="bi-trash"></i></button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
}