@model IEnumerable<GOT.ViewModels.TripViewModel>
@using GOT.Controllers

@if (TempData["Message"] != null) {
    string typeClass = "";
    switch ((MessageType)TempData["MessageType"]) {
        case MessageType.SUCCESS:
            typeClass = "alert-success";
            break;
        case MessageType.DANGER:
            typeClass = "alert-danger";
            break;
        case MessageType.INFO:
            typeClass = "alert-info";
            break;
        case MessageType.WARNING:
            typeClass = "alert-warning";
            break;
    }

    <div class="alert @typeClass alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Zamknij">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="d-flex align-items-center justify-content-between">
    <h1>Lista wycieczek do zatwierdzenia</h1>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Plan", "Trip")'"><i class="bi-plus"></i>Zaplanuj wycieczkę</button>
</div>
<hr />
@if (Model.Count() == 0) {
    <p class="mb-5 text-center" style="font-size: 100px"><i class="bi-map"></i></p>
    <p class="text-center mb-3">Obecnie nie ma żadnej wycieczki do wyświetlenia.</p>
} else {
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr style="cursor: pointer" onclick="location.href='@Url.Action("Details", "Trip", new { id = item.Id})'">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @item.StartDate.ToShortDateString()
                    </td>
                    <td>
                        @item.EndDate.ToShortDateString()
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Score)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
}